.text {
  height: 80px;
  font-size: 25px;
}

.button {
  font-family: "Comic Sans MS";
  font-size: 25px;
  color: maroon;
  background-color: rgba(0, 0, 0, 0);

  border-style: none;
}

.button:hover {
  color: darkgreen;
}

.FullCenter {
  display: flex;
  flex-direction: column;
  align-content: space-around;
  align-items: center;

  justify-content: center;
  width: 100vw;
  height: 100vh;

  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: right bottom;
  background-size: 40% auto;
}

@media only screen and (min-width: 800px) {
  .back {
    background-size: 320px auto;
  }
}
