.IconButton {
  cursor: pointer;
  background-color: transparent;
  border: none;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.IconButton:focus {
  background-color: var(--focus-background);
}

.IconRect {
  position: relative;
  display: block;
  width: 28px;
  height: 28px;
}

.SearchIcon:before,
.SearchIcon:after {
  position: absolute;
  top: 5.5px;
  left: 5.5px;
  display: block;
  height: 8px;
  content: "";
}

.SearchIcon:before {
  width: 8px;
  border: 2px #333 solid;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
}

.SearchIcon:after {
  top: 15px;
  left: 18px;
  width: 2px;
  height: 7px;
  background: #333;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

/* 以下カスタム */
.DefaultSearchBoxColor::before {
  border: 2px #b4b4b4 solid;
}

.DefaultSearchBoxColor::after {
  background: #b4b4b4;
}
