:root {
  --header: calc(10px + 47px); /* headerのpadとarrow */
  --footer: 70px;
  --main: calc(100vh - var(--header) - var(--footer));
}

#book_detail {
  position: relative;
  width: 850px;
  height: 100vh;
  margin: auto auto;
}

/* スマホ用 */
@media only screen and (max-width: 850px) {
  #book_detail {
    width: 100%;
    margin: auto auto;
  }
} /*デバイスの横幅が850以下の場合*/

.main {
  width: 100%;
  /* 100%-button-header */
  height: var(--main);
  overflow: auto;
}

.bookTitle {
  float: left;
  width: calc(100% - 135px - 20px); /* 100% - image - pad_left*/
  padding-top: 15px;
  padding-bottom: 10px;
  padding-left: 20px;
  font-size: 24px;
  font-weight: bold;
  text-align: left;
}

.bookImageBrock {
  float: right;
  width: calc(135px - 10px); /* -padR -padL */
  min-height: 100px;
  padding-right: 10px;
  padding-left: 0px;
  text-align: center;
}

.image {
  max-width: 100%;
}

.image_error {
  width: 80%;
}

.contents {
  padding-top: 5px;
  padding-bottom: 10px;
  padding-left: 25px;
  clear: both;
  font-size: 20px;
  line-height: 28px; /* font-size +  */
  text-align: left;
}

.buttonsBlock {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  width: 100%;
  height: var(--footer);
}

.itemName {
  font-weight: bold;
}

.item {
  width: calc(100% - 10px - 10px);
  padding-right: 10px;
  padding-left: 10px;
}
