.ReturnButton {
  width: 30%;
  padding: 10px 20px;
  margin: 10px auto;
  font-size: 20px;
  color: black;
  cursor: pointer;
  background-color: transparent;
  border: none;
  border: solid 5px var(--app-default-blue);
  border-radius: 3px;
  outline: none;
  transition: 0.3s ease-in;
  transition-property: background-color;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

/* スマホ用 */
@media only screen and (max-width: 400px) {
  .ReturnButton {
    width: 50%;
  }
} /*デバイスの横幅が850以下の場合*/

.ReturnButton:hover,
.ReturnButton:focus {
  background-color: var(--focus-background);
}
