.Main {
  display: flex;
  width: 85vw;
  margin: 10px auto;
  cursor: pointer;
  border: none;
  box-shadow: 10px 10px 10px -10px;
}

.Content {
  display: flex;
  flex-direction: column;
}

.BookTitle {
  float: left;
  padding: 5px 0;
  font-size: 18px;
  text-align: left;
}

.BookAuthor {
  float: left;
  padding: 5px 0;
  font-size: 14px;
  text-align: left;
}

.BookImageBrock {
  float: right;
  height: auto;
  padding-right: 10px;
  padding-left: 10px;
  margin-left: auto;
  text-align: center;
}
