.modal {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 350px;
  height: fit-content;
  padding: 20px;
  margin: auto;
  background-color: white;
  border-radius: 10px;
  box-shadow: 10px 10px 15px -10px;
}

/* スマホ用 */
@media only screen and (max-width: 400px) {
  .modal {
    width: auto;
    margin: auto 10px;
  }
} /*デバイスの横幅が850以下の場合*/

.wrapper {
  position: absolute;
  top: 0%;
  width: 100%;
  height: 100%;

  background-color: rgba(0, 0, 0, 0.4);
}

.title {
  text-align: center;
}

.center {
  padding-top: 10px;
  margin-left: 5em;
  text-indent: -5em;
  line-height: 20px;
}

.ChooseButtonWrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-bottom: -10px;
}

.ChooseButton {
  padding: 10px 20px;
  margin-top: 40px;
  color: black;
  cursor: pointer;
  background-color: transparent;
  border: none;
  outline: none;
  transition: 0.3s ease-in;
  transition-property: background-color;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.ChooseButton:hover,
.ChooseButton:focus {
  background-color: var(--focus-background);
}
